h1 {
  border-radius: 8px;
  border: 1px solid transparent;
  top: -10px;
  text-align: center;
  margin: 1rem;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  color: var(--color-text);
  background-color: var(--color-background-soft);
  cursor: pointer;
  transition: border-color 0.25s;
}

h1:hover {
  border-color: #646cff;
}

h1:focus,
h1:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 1.2em;
    text-align: left;
  }
}
